<template lang="pug">
	section: form(:action='searchProvider.url', @submit='checkForURL')
		label.search-provider
			span Search with
			select(v-model="searchProvider")
				option(v-for="provider in sortedSearchProviders", :key="provider.name", :value="provider") {{ provider.name }}
		label.search-terms
			span Search Terms
			input(
				v-model='searchTerms',
				type='text',
				:name='searchProvider.queryParameter',
				autofocus
			)
</template>

<script>
	import { byKey } from '@gabegabegabe/utils/dist/array/sorters';
	import { searchProviders } from '~/modules/search-providers';

	export default {
		name: 'SearchForm',
		data () {
			return {
				sortedSearchProviders: searchProviders.sort(byKey('name')),
				searchTerms: null
			};
		},
		computed: {
			searchProvider: {
				get () { return this.$store.state.searchForm.searchProvider; },
				set (provider) { return this.$store.commit('searchForm/setSearchProvider', provider); }
			}
		},
		methods: {
			checkForURL (e) {
				const regex = {
					http: /^https?:\/\//u,
					url: /^[^ ]+\.[^. ]+$/u
				};

				if (!regex.url.test(this.searchTerms)) return true;

				let { searchTerms } = this;

				if (e.preventDefault) e.preventDefault();

				if (!regex.http.test(searchTerms)) searchTerms = `http://${searchTerms}`;

				window.location = searchTerms;

				return true;
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";
	@import "~/scss/breakpoints";
	@import "~/scss/variables";

	form {
		text-align: center;

		h1.section-heading { font-size: 1.2rem; }

		label.search-provider {
			display: flex;
			justify-content: center;
			align-items: center;

			select {
				border-bottom: $border solid $base07;
				cursor: pointer;
				padding: 0.25rem 0;
			}
		}

		label.search-terms {
			align-items: center;
			line-height: 1.6em;
			letter-spacing: 0.0625rem;

			span { display: none; }

			input {
				font-size: 5vw;
				width: 100%;
				max-width: 100%;
				border: none;
				padding: 0.5rem;
				background: $base05;
				color: $base00;

				&:focus {
					border: none;
					outline: none;
				}

				@media (min-width: $desktop) {
					font-size: 2rem;
				}
			}
		}
	}
</style>
