<template lang="pug">
	li.task-item: fieldset
		legend.hidden Task
		label.complete(v-if="!newTask")
			input(v-model="complete", type="checkbox")
			div.fake-checkbox: span.checkmark &#10003;
		label.description
			span.hidden Description
			input(v-model="description", type="text", @keyup="checkForEnter")
		label.date
			span.hidden Due
			input(v-model="due", type="date")
		label.submit(v-if="newTask")
			span.hidden Submit
			button(type="button" @click="submit"): PlusIcon
</template>

<script>
	import { PlusIcon } from 'vue-feather-icons';

	const ENTER_KEY_CODE = 13;
	const TASK_TEMPLATE = { complete: false, description: null, due: null };

	export default {
		name: 'TaskItem',
		components: { PlusIcon },
		props: {
			newTask: { type: Boolean },
			taskId: { type: Number, default: -1 },
			value: { type: Object, default: () => ({ ...TASK_TEMPLATE }) }
		},
		computed: {
			complete: {
				get () { return this.task.complete; },
				set (complete) { this.updateTask({ complete }); }
			},
			description: {
				get () { return this.task.description; },
				set (description) { this.updateTask({ description }); }
			},
			due: {
				get () { return this.task.due; },
				set (due) { this.updateTask({ due }); }
			},
			indexOfExistingTask () { return this.$store.state.taskManager.tasks.map(t => t.id).indexOf(this.taskId); },
			isModelingExistingTask () { return this.indexOfExistingTask >= 0; },
			task () {
				if (!this.isModelingExistingTask) return this.value;

				return this.$store.state.taskManager.tasks[this.indexOfExistingTask];
			}
		},
		methods: {
			checkForEnter (event) { if (event.keyCode === ENTER_KEY_CODE) this.submit(); },
			submit () { this.$emit('enter-pressed'); },
			updateTask (partialTask) {
				if (this.isModelingExistingTask) this.$store.commit('taskManager/updateTask', { index: this.indexOfExistingTask, task: partialTask });
				else this.$emit('input', { ...this.value, ...partialTask });
			}
		}
	};
</script>

<style lang="scss" scoped>
	@use "sass:color";

	@import "~/scss/base16";
	@import "~/scss/variables";

	.hidden { display: none; }

	li.task-item {
		margin-bottom: 0.5rem;

		&:last-of-type { margin-bottom: 0; }

		fieldset {
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			margin: 0;
			padding: 0;
			border: none;

			label {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0.5rem 0;

				&.complete {
					padding: 0.5rem;
					background: $base03;
					justify-content: flex-start;
					cursor: pointer;

					span:not(.checkmark) {
						font-size: 0.5rem;
						font-weight: 600;
						text-transform: uppercase;
					}

					input[type="checkbox"] {
						appearance: none;
						display: none;

						& + div.fake-checkbox {
							flex-grow: 1;
							font-weight: 600;
							font-size: 1.75rem;
							line-height: 1em;
							display: flex;
							flex-direction: column;
							justify-content: center;
							text-align: center;
							background: $base01;
							width: 1.75rem;
							height: 1.75rem;

							span.checkmark { visibility: hidden; }

							&:active { background: $base00; }
						}

						&:checked,
						&:hover {
							& + div.fake-checkbox > span.checkmark { visibility: visible; }
						}
					}
				}

				&.date {
					background: $base01;
					padding-left: 1rem;
					padding-right: 0.5rem;

					input[type="date"] {
						font-family: monospace;
						font-size: .75rem;
					}
				}

				input {
					margin: 0;
					padding: 0;
					height: 100%;
					border: none;
					height: 1.75rem;

					&:focus { outline: none; }
				}

				&.description {
					background: $base02;
					/* flex: 1 0 20rem; */
					flex-grow: 1;
					padding: 0 1rem;

					input {
						width: 100%;
						color: $base05;

						@media(max-width: 600px) {
							font-size: .85em;
						}
					}
				}

				&.submit {
					background: $base0B;
					padding: 0;

					button {
						border: none;
						background: transparent;
						color: $base00;
						padding: 0 0.75rem;
						height: 100%;
						text-transform: uppercase;
						display: flex;
						flex-direction: column;
						justify-content: center;

						&:active { background: color.scale($base0B, $lightness: -5%); }
					}
				}
			}
		}
	}
</style>
