<template lang="pug">
	section.task-manager
		h1.section-heading: span.label Tasks
		div.list-container.grid.two-columns
			div.left-list
				div.todays-tasks(v-if="tasks.today.length > 0")
					h2 Today
					ul.task-list
						TaskItem(v-for="task in tasks.today", :key="task.id", :task-id="task.id")
				div.weeks-tasks(v-if="tasks.thisWeek.length > 0")
					h2 This Week
					ul.task-list
						TaskItem(v-for="task in tasks.thisWeek", :key="task.id", :task-id="task.id")
				div.new-task
					h2.new-task New Task
					ul.task-list
						TaskItem(v-model="newTask", new-task, @enter-pressed="addNewTask")
			div.right-list(v-if="displayRightList")
				div.overdue-tasks(v-if="tasks.overdue.length > 0")
					h2 Overdue
					ul.task-list
						TaskItem(v-for="task in tasks.overdue", :key="task.id", :task-id="task.id")
				div.later-tasks(v-if="tasks.later.length > 0")
					h2 Later
					ul.task-list
						TaskItem(v-for="task in tasks.later", :key="task.id", :task-id="task.id")
				div.undated-tasks(v-if="tasks.undated.length > 0")
					h2 Undated
					ul.task-list
						TaskItem(v-for="task in tasks.undated", :key="task.id", :task-id="task.id")
				div.old-tasks(v-if="tasks.complete.length > 0")
					div.heading
						h2.old-tasks Completed
						button.small.danger(type="button", @click="clearCompleted") Clear
					ul.task-list
						TaskItem(v-for="task in tasks.complete", :key="task.id", :task-id="task.id")
</template>

<script>
	import { byKey } from '@gabegabegabe/utils/dist/array/sorters';
	import dateFormat from 'dateformat';

	const DAYS_IN_A_WEEK = 7;
	const END_OF_WEEK = 5;
	const START_OF_WEEK = 3;

	const TaskItem = async () => await import('~/views/task-manager/TaskItem');

	const getFullDate = date => dateFormat(new Date(date), 'yyyy-mm-dd');
	const getYear = date => Number(dateFormat(new Date(date), 'yyyy'));
	const getDay = date => Number(dateFormat(new Date(date), 'N'));
	const getWeek = date => {
		const week = Number(dateFormat(new Date(date), 'W'));
		const day = getDay(date);
		if (day >= END_OF_WEEK) return week + 1;

		return week;
	};

	export default {
		name: 'Tasks',
		components: { TaskItem },
		data () {
			return {
				newTask: {
					id: this.$store.getters['taskManager/nextId'],
					complete: false,
					due: null
				}
			};
		},
		computed: {
			displayRightList () {
				return [
					...this.tasks.later,
					...this.tasks.overdue,
					...this.tasks.undated,
					...this.tasks.complete
				].length > 0;
			},
			tasks () {
				const tasks = {
					today: [],
					thisWeek: [],
					later: [],
					overdue: [],
					undated: [],
					complete: []
				};
				const today = getFullDate(new Date());
				const todayDate = new Date(today);
				let todayDay = getDay(todayDate) + START_OF_WEEK;
				if (todayDay > DAYS_IN_A_WEEK) todayDay -= DAYS_IN_A_WEEK;
				const thisWeek = getWeek(todayDate);
				const thisYear = getYear(todayDate);

				this.$store.state.taskManager.tasks.forEach(task => {
					// Complete ? -> completed
					if (task.complete) return tasks.complete.push(task);

					// No due date? -> undated
					if (!task.due) return tasks.undated.push(task);

					// Due today ? -> today
					if (task.due === today) return tasks.today.push(task);

					const taskDate = getFullDate(task.due);
					let taskDay = getDay(taskDate) + START_OF_WEEK;
					if (taskDay > DAYS_IN_A_WEEK) taskDay -= DAYS_IN_A_WEEK;
					const taskWeek = getWeek(taskDate);
					const taskYear = getYear(taskDate);

					if (taskYear > thisYear) return tasks.later.push(task);
					if (taskYear < thisYear) return tasks.overdue.push(task);

					if (taskWeek > thisWeek) return tasks.later.push(task);
					if (taskWeek < thisWeek) return tasks.overdue.push(task);

					if (taskDay < todayDay) return tasks.overdue.push(task);

					return tasks.thisWeek.push(task);
				});

				for (const key in tasks) tasks[key].sort(byKey('due'));

				return tasks;
			}
		},
		methods: {
			addNewTask () {
				this.$store.commit('taskManager/addTask', this.newTask);
				this.resetNewTask();
			},
			clearCompleted () {
				this.tasks.complete
					.map(t => t.id)
					.forEach(taskId => this.$store.commit('taskManager/removeTask', taskId));
			},
			resetNewTask () {
				this.newTask = {
					id: this.$store.getters['taskManager/nextId'],
					completed: false,
					due: null
				};
			}
		}
	};
</script>

<style lang="scss" scoped>
	h2 {
		font-size: 1.125rem;
		line-height: 1em;
		margin-top: 0;
	}

	ul.task-list {
		list-style-type: none;
		padding: 0;
	}

	div.list-container > div > div:last-of-type > ul { margin-bottom: 0; }

	div.old-tasks {
		div.heading {
			h2 {
				display: inline-block;
				margin-right: 1rem;
			}

			button { display: none; }

			&:hover button { display: inline; }
		}

		ul.task-list { margin-top: 0; }
	}
</style>
