<template lang="pug">
	div
		h1 Weather Settings
		form
			fieldset
				legend Dark Sky API Key
				p
					| To be able to fetch weather forecasts, you'll first need to obtain a
					| free API key from the
					a.manual-margins(href='https://darksky.net/dev') Dark Sky weather service
					| Get set up there with an account, then come back here and paste in
					| your key once you have it.  Once your key is validated, your weather
					| forecast will automatically be fetched.
				div.flex.center.wrap
					label.api-key-wrapper.flex.column
						span Key
						input(v-model='tempApiKey', type='text')
					label.button.flex.colum.center
						span Save
						button(:disabled='!keyIsValid', type='button', @click='saveSettings') Save
</template>

<script>
	export default {
		name: 'WeatherSettings',
		data () {
			return { tempApiKey: this.$store.state.weatherForecast.apiKey };
		},
		computed: {
			apiKey: {
				get () { return this.$store.state.weatherForecast.apiKey; },
				set (key) { this.$store.commit('weatherForecast/setApiKey', key); }
			},
			keyIsValid () {
				return this.tempApiKey && typeof this.tempApiKey === 'string' && this.tempApiKey.length > 0;
			}
		},
		methods: {
			saveSettings () {
				this.apiKey = this.tempApiKey;
				this.$emit('hide-settings');
			}
		}
	};
</script>

<style lang="scss" scoped>
	h1 { margin-top: 0; }

	div.flex label {
		&.api-key-wrapper {
			flex-grow: 1;
			text-align: left;

			input { width: 100%; }
		}
	}
</style>
