<template lang="pug">
	div.weather-block.flex.column
		div.weather-wrapper
			div.weather-icon: component(:is='weatherIcon', size='5x')
			span.weather-description {{ day.summary | trim-period }}
		div.temps.flex.two-columns
			div: span(:class='`low ${tempColors.low}`') {{ day.apparentTemperatureLow | round('int') }}&#176;
			div: span(:class='`high ${tempColors.high}`') {{ day.apparentTemperatureHigh | round('int') }}&#176;
		div.date-wrapper
			span.day-label {{ dayOfTheWeek }}
			br
			span.date {{ dateString }}
</template>

<script>
	import dateFormat from 'dateformat';
	import { isValidDay } from '~/utilities/day';
	import { ONE_SECOND } from '~/globals/time-units';
	import {
		CloudIcon,
		CloudRainIcon,
		CloudSnowIcon,
		SunIcon,
		WindIcon
	} from 'vue-feather-icons';

	const iconNameMap = [
		{
			feather: SunIcon,
			darkSky: [
				'clear-day',
				'clear-night',
				'partly-cloudy-day',
				'partly-cloudy-night'
			]
		},
		{
			feather: CloudIcon,
			darkSky: ['fog', 'cloudy']
		},
		{
			feather: CloudRainIcon,
			darkSky: ['rain', 'sleet']
		},
		{
			feather: CloudSnowIcon,
			darkSky: ['snow']
		},
		{
			feather: WindIcon,
			darkSky: ['wind']
		}
	];

	export default {
		name: 'WeatherBlock',
		filters: {
			trimPeriod: str => str.replace(/\.$/u, '')
		},
		props: {
			day: {
				type: Object,
				required: true,
				validator: isValidDay
			}
		},
		data () {
			const date = new Date(this.day.time * ONE_SECOND);
			const dateString = dateFormat(date, 'mmm d');
			const dayOfTheWeek = dateFormat(date, 'dddd');

			const {
				day: {
					apparentTemperatureHigh: hiTemp,
					apparentTemperatureLow: loTemp
				}
			} = this;
			const tempColors = [
				{ key: 'high', temp: hiTemp },
				{ key: 'low', temp: loTemp }
			]
				.map(range => {
					if (range.temp > 95) return { ...range, color: 'red' };
					else if (range.temp > 85) return { ...range, color: 'orange' };
					else if (range.temp > 75) return { ...range, color: 'yellow' };
					else if (range.temp > 55) return { ...range, color: 'green' };
					else if (range.temp > 40) return { ...range, color: 'blue' };
					else if (range.temp > 20) return { ...range, color: 'teal' };
					else return { ...range, color: 'purple' };
				})
				.reduce((colors, temp) => {
					colors[temp.key] = temp.color;

					return colors;
				}, { high: '', low: '' });
			const weatherIcon = iconNameMap
				.filter(map => map.darkSky.indexOf(this.day.icon) !== -1)
				.map(map => map.feather)
				.reduce(icon => icon);

			return { dateString, dayOfTheWeek, weatherIcon, tempColors };
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";
	@import "~/scss/breakpoints";
	@import "~/scss/variables";

	div.weather-block {
		max-width: calc(100% / 7);
		min-width: $unit-width + 1rem;
		flex-grow: 1;
		text-align: center;
		font-size: 0.75rem;
		font-weight: 600;
		line-height: 1.6em;

		&:first-of-type {
			div.weather-wrapper { background-color: $base02; }

			div.temps { background-color: $base03; }

			div.date-wrapper {
				background-color: $base04;
				color: $base00;
			}
		}

		&:last-of-type { margin-right: 0; }

		@media (min-width: $desktop) { min-width: 0; }

		div.weather-wrapper {
			background-color: $base01;
			padding: 1rem;
			flex-grow: 1;

			div.weather-icon {
				margin-bottom: 1rem;

				svg { stroke-width: 0.03125rem; }
			}

			span.weather-description { font-weight: 400; }
		}

		div.temps {
			background-color: $base02;
			padding: 0.25rem 0.125rem 0.5rem 0.125rem;

			span.high,
			span.low {
				display: inline-block;
				border-bottom: $thick-border solid;
				padding: 0 0.5rem;

				&.red { border-bottom-color: $base08; }

				&.orange { border-bottom-color: $base09; }

				&.yellow { border-bottom-color: $base0A; }

				&.green { border-bottom-color: $base0B; }

				&.teal { border-bottom-color: $base0C; }

				&.blue { border-bottom-color: $base0D; }

				&.purple { border-bottom-color: $base0E; }
			}
		}

		div.date-wrapper {
			background-color: $base03;
			padding: 0.5rem;
		}
	}
</style>
