<template lang="pug">
	section.weather-forecast
		h1.section-heading
			span.label Weather
			a.icon-wrapper(@click='displaySettings'): SettingsIcon
		div.weather-wrapper.flex(v-if='forecastShouldBeDisplayed')
			WeatherBlock(v-for='day in forecast', :key='day.time', :day='day')
		div(v-else): p.centered
			| No weather forecast has been loaded yet.  Use the
			span.manual-margins: SettingsIcon(size='.9x')
			| icon above to get started!
</template>

<script>
	import { getForecast } from '~/modules/dark-sky-api';
	import { SettingsIcon } from 'vue-feather-icons';

	const WeatherBlock = async () => await import('~/views/weather-forecast/WeatherBlock');
	const WeatherSettings = async () => await import('~/views/weather-forecast/WeatherSettings');

	const DAYS_IN_A_WEEK = 7;

	export default {
		name: 'WeatherForecast',
		components: { WeatherBlock, SettingsIcon },
		computed: {
			apiKey () { return this.$store.state.weatherForecast.apiKey; },
			forecast () { return this.$store.state.weatherForecast.forecast; },
			forecastIsPresent () { return this.forecast.length > 0; },
			forecastShouldBeDisplayed () { return this.apiKey && this.forecastIsPresent; }
		},
		watch: {
			apiKey (val) { if (val) this.fetchWeather(); }
		},
		mounted () {
			if (this.apiKey) this.fetchWeather();
		},
		methods: {
			displaySettings () { this.$emit('display-settings', WeatherSettings); },
			async fetchWeather () {
				const forecast = await getForecast(this.apiKey);
				if (!Array.isArray(forecast) || forecast.length < 1) return;
				this.$store.commit('weatherForecast/setForecast', forecast.slice(0, DAYS_IN_A_WEEK));
			}
		}
	};
</script>

<style lang="scss" scoped>
	div.weather-wrapper {
		overflow-x: auto;
	}
</style>
