<template lang="pug">
	article.post-description
		a(:href='post.url'): h2.title {{ post.title | decoded-xml }}
		div.flex.column.article-details
			div.author.flex.detail(v-show="post.author")
				strong Author
				span {{ post.author | decoded-xml }}
			div.publisher.flex.detail(v-show='post.publisher')
				strong Publisher
				a(v-if='post.publisher.homeUrl', :href='post.publisher.homeUrl') {{ post.publisher.title }}
				span(v-else) {{ post.publisher.title }}
			div.date.flex.detail(v-show='post.date')
				strong Date
				time(datetime='post.date') {{ post.date | decoded-xml | date }}
</template>

<script>
	import dateFormat from 'dateformat';
	import { decodeXML } from 'entities';

	export default {
		name: 'RssBlock',
		filters: {
			date: date => dateFormat(date, 'mmmm d'),
			decodedXml: str => decodeXML(str)
				.replace(/<\/?cite>/gu, '')
		},
		props: {
			post: {
				type: Object,
				required: true
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";
	@import "~/scss/variables";

	article {
		break-inside: avoid;
		margin-bottom: 1rem;

		a {
			color: inherit;
			text-decoration: none;
			cursor: pointer;

			&:hover { text-decoration: underline; }
		}

		a h2.title,
		div.article-details { padding: 1rem; }

		a h2.title {
			background: $base01;
			margin-bottom: 0;
			line-height: 1.4em;
			letter-spacing: 0.04em;
			margin-top: 0;
			overflow-wrap: break-word;
		}

		div.article-details {
			font-size: 0.75rem;
			line-height: 2em;
			background: $base02;
			// border-radius: 0 0 $radius $radius;
			div.detail {
				margin-bottom: 0.5rem;
				align-items: flex-start;

				&:last-of-type { margin-bottom: 0; }

				strong {
					flex: 1 0 auto;
					/* flex-basis: calc(300% / 8); */
					border-left: $thick-border solid;
					padding-left: 0.5rem;
					margin-left: -0.25rem;
					margin-right: 0.25rem;
				}

				&.author strong { border-left-color: $base0A; }

				&.publisher strong { border-left-color: $base0E; }

				&.date strong { border-left-color: $base0C; }

				:nth-child(2) { flex: 0 1 calc(500% / 8); }
				/* :nth-child(2) { flex-basis: calc(500% / 8); } */
			}
		}
	}
</style>
