<template lang="pug">
	section.rss-feed
		h1.section-heading
			span.label News
			a.icon-wrapper(@click='displaySettings'): SettingsIcon
		ul.post-list(v-if='posts.length > 0'): li(v-for='post in posts', :key='post.title'): RssBlock(:post='post')
		p.centered(v-else)
			| It looks like you haven't added any news feeds yet, use the
			span.manual-margins: SettingsIcon(size='.9x')
			| icon above to get started!
</template>

<script>
	import corsProxyUrl from '~/globals/cors-proxy-url';
	import log from '~/modules/log';
	import Parser from 'rss-parser';
	import { SettingsIcon } from 'vue-feather-icons';

	const RssBlock = async () => await import('~/views/rss-feed/RssBlock');
	const RssSettings = async () => await import('~/views/rss-feed/RssSettings');

	const parser = new Parser();

	const MAX_POSTS = 15;

	export default {
		name: 'RssFeed',
		components: { RssBlock, SettingsIcon },
		data () {
			return { corsProxyUrl, feedData: [] };
		},
		computed: {
			feeds () { return this.$store.state.rssFeed.feeds; },
			feedUrls () { return this.feeds.map(f => f.url); },
			posts () {
				if (!this.$store.state.rssFeed.posts) return [];

				return Array.from(this.$store.state.rssFeed.posts)
					.sort(({ date: dateA }, { date: dateB }) => {
						const dateObjA = new Date(dateA);
						const dateObjB = new Date(dateB);
						if (dateObjA < dateObjB) return 1;
						if (dateObjA > dateObjB) return -1;

						return 0;
					});
			},
			postUrls () { return this.posts.map(p => p.url); }
		},
		watch: {
			feeds () {
				this.fetchFeeds();
			},
			feedData (allData) {
				const posts = allData
					.map(({ feed, data }) => data.items
						.slice(0, Math.floor(MAX_POSTS / this.feeds.length))
						.map(post => ({
							title: post[feed.fields.title],
							author: (post[feed.fields.author] || '').replace(/^by /u, ''),
							date: post[feed.fields.date],
							url: post[feed.fields.url],
							publisher: {
								title: feed.title,
								homeUrl: feed.homeUrl
							}
						})))
					.reduce((allPosts, somePosts) => [...allPosts, ...somePosts], []);

				this.$store.commit('rssFeed/setPosts', posts);
			}
		},
		mounted () { this.fetchFeeds(); },
		methods: {
			displaySettings () { this.$emit('display-settings', RssSettings); },
			async fetchFeeds () {
				const feedPromises = this.feedUrls.map(url => parser
					.parseURL(this.corsProxyUrl + url)
					.catch(err => {
						log.error(err, `Failed fetching rss feed at ${url}`);
					}));

				const feedPayloads = await Promise.all(feedPromises);

				this.feedData = this.feeds
					.map((feed, i) => ({ feed, data: feedPayloads[i] }))
					.filter(feedData => feedData.data && true);
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";
	@import "~/scss/variables";

	ul.post-list {
		list-style-type: none;
		padding: 0;
		column-count: 5;
		column-width: $unit-width;

		li { max-width: $unit-width-max; }
	}
</style>
