<template lang="pug">
	div
		h1 News Settings
		form
			fieldset
				legend Add New Feed
				p
					| To add a new feed, simply paste in the URL to that newsfeed below.
					| The feed will then be fetched, and you'll be prompted to select
					| which fields from a sample post correspond to things like title,
					| author, and date.  Once you've got it set, simply click the 'add'
					| button!
				label
					span Feed URL
					input(v-model='newFeed.url', type='text')
				div.spinner-wrapper(v-if='newFeed.fetching')
					div: MoonLoader(:color='base16.base00', size='50px')
					span Loading...
				div(v-if='newFeed.fetched')
					label
						span Feed Title
						input(v-model='newFeed.title', type='text')
					label
						span Feed Website
						input(v-model='newFeed.homeUrl', type='text')
					fieldset(v-if='newFeed.fetched')
						legend Post Fields
						div.post-fields.flex.wrap.grow(v-if='newFeed.fetched')
							label.flex.column(v-for='(val, field) in newFeed.fields', :key='field')
								span {{ field | title-case }}
								select(v-model='newFeed.fields[field]', :disabled='!newFeed.fetched'): option(v-for='(value, key) in newFeed.samplePost', :key='key', :value='key') {{ value }}
				label.button.flex.column
					span Add
					button(:disabled='!newFeedIsValid', type='button', @click='addNewFeed') Add
		table
			caption Feeds
			thead
				tr
					th Title
					th URL
					th.filler &nbsp;
			tbody
				tr(v-if='feeds.length === 0'): td.centered(colspan='3')
					| Looks like you don't have any feeds yet, use the form above to add
					| some!
				tr(v-for='(feed, i) in feeds', :key='feed.url')
					td.title {{ feed.title }}
					td.url {{ feed.url }}
					td.icon-wrapper: a.icon-wrapper.danger(@click='removeFeed(i)'): XIcon
</template>

<script>
	import { byKey } from '@gabegabegabe/utils/dist/array/sorters';
	import debounce from 'debounce';
	import { HALF_SECOND } from '~/globals/time-units';
	import log from '~/modules/log';
	import { ocean } from 'base16';
	import Parser from 'rss-parser';
	import { XIcon } from 'vue-feather-icons';

	const MoonLoader = async () => await import('vue-spinner/src/MoonLoader');

	const parser = new Parser();
	const CORS_PROXY = 'https://cors-anywhere.herokuapp.com/';

	const newFeedTemplate = {
		fetched: false,
		fetching: false,
		samplePost: {},
		fields: {
			title: null,
			author: null,
			url: null,
			date: null
		},
		title: null,
		url: '',
		homeUrl: null
	};

	export default {
		name: 'RssSettings',
		components: { MoonLoader, XIcon },
		data () {
			return {
				base16: ocean,
				newFeed: { ...newFeedTemplate }
			};
		},
		computed: {
			feeds: {
				get () { return [...this.$store.state.rssFeed.feeds].sort(byKey('title')); },
				set (val) { this.$store.commit('rssFeed/setFeeds', val); }
			},
			newFeedIsValid () {
				try { new URL(this.newFeed.url); } catch (err) { return false; }
				if (!this.newFeed.title) return false;
				if (!this.newFeed.fetched) return false;

				for (const key in this.newFeed.fields) if (!this.newFeed.fields[key]) return false;

				return true;
			}
		},
		watch: {
			'newFeed.url': function () {
				this.debouncedGetSamplePost();
			}
		},
		created () {
			this.debouncedGetSamplePost = debounce(this.getSamplePost, HALF_SECOND);
		},
		methods: {
			addNewFeed () {
				this.$store.commit('rssFeed/addFeed', {
					title: this.newFeed.title,
					url: this.newFeed.url,
					homeUrl: this.newFeed.homeUrl,
					fields: this.newFeed.fields
				});
				this.resetNewFeed();
			},
			removeFeed (index) {
				this.$store.commit('rssFeed/removeFeed', index);
			},
			resetNewFeed () {
				this.newFeed = { ...newFeedTemplate };
			},
			async getSamplePost () {
				if (this.newFeed.url.indexOf('http') !== 0) this.newFeed.url = `https://${this.newFeed.url}`;
				try { new URL(this.newFeed.url); } catch (err) { return; }
				this.newFeed.fetching = true;
				const feed = await parser.parseURL(CORS_PROXY + this.newFeed.url);
				this.newFeed.fetching = false;
				if (!feed || !feed.title || !feed.items || feed.items.length < 1) {
					log.error(new Error('Invalid feed url entered.'), 'RSS feed url is invalid.');

					return;
				}
				this.newFeed.title = feed.title;
				this.newFeed.samplePost = feed.items[0];
				this.newFeed.fetched = true;
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";
	@import "~/scss/variables";

	h1 { margin-top: 0; }

	input[type="text"] { width: calc(100% - 0.5rem); }

	div.post-fields {
		label {
			flex-basis: ($unit-width * 1.5);

			select {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	label.button span { display: none; }

	div.spinner-wrapper {
		text-align: center;
		padding: 1.5rem;

		div.v-spinner {
			display: flex;
			justify-content: center;
			margin-bottom: 1rem;
		}
	}

	table {
		tr {
			th.filler,
			td.icon-wrapper { width: 3.5rem; }

			td.url { word-break: break-word; }

			td a.icon-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				margin-right: 1rem;

				&:hover { cursor: pointer; }

				&.danger { color: $base08; }
			}
		}
	}
</style>
