<template lang="pug">
	div.modal-wrapper(@click='overlayHandler')
		section.modal
			div.icon-wrapper: a(@click="$emit('hide-settings')"): XCircleIcon
			div.component-wrapper: component(
				:is='settingsComponent',
				@hide-settings="$emit('hide-settings')"
			)
</template>

<script>
	import { XCircleIcon } from 'vue-feather-icons';

	export default {
		name: 'SettingsModal',
		components: { XCircleIcon },
		props: {
			settingsComponent: {
				type: [Function, Object],
				required: true
			}
		},
		data () {
			return { body: document.querySelector('body') };
		},
		created () {
			this.body.style.height = '100vh';
			this.body.style.overflow = 'hidden';
		},
		destroyed () {
			this.body.style.height = '';
			this.body.style.overflow = '';
		},
		methods: {
			overlayHandler (event) {
				if (event.target.matches('div.modal-wrapper')) this.$emit('hide-settings');
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";

	div.modal-wrapper {
		background: rgba(0, 0, 0, 0.25);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0.5rem;

		section.modal {
			background: $base07;
			color: $base00;
			width: 100%;
			max-width: 54rem;
			border-radius: 0.25rem;
			padding: 1rem;
			max-height: 95vh;
			overflow: auto;

			div.icon-wrapper {
				text-align: right;
				float: right;

				a {
					color: $base03;

					&:hover {
						color: inherit;
						cursor: pointer;
					}
				}
			}

			div.component-wrapper { margin-bottom: 0.5rem; }
		}
	}
</style>
