<template lang="pug">
	div
		h1 Portfolio Settings
		form
			fieldset
				legend Add a New Coin
				div.flex.wrap.grow
					label.flex.column
						span Coin
						input(v-model='newCoin.name', list='coin-option-names')
					label.flex.column
						span Symbol
						input(v-model='newCoin.symbol', list='coin-option-symbols')
					label.flex.column
						span Balance
						input(v-model.number='newCoin.balance', type='number', min='0', step='any')
					label.button.flex.column.center
						span Add Coin
						button(:disabled='!newCoinIsValid', type='button', @click='addNewCoin') Add
		table
			caption Coins
			thead(v-if='atLeastOneCoinAdded')
				tr
					th(v-for='key in coinKeys', :key='key') {{ key | title-case }}
					th.filler &nbsp;
			tbody
				tr(v-if='!atLeastOneCoinAdded'): td.centered(:colspan='coinKeys.length + 1')
					| Looks like you don't have any coins in your portfolio yet, use the
					| form above to add some!
				tr(v-for='coin in coins', :key='coin.symbol')
					td.key(v-for='key in coinKeys', :key='key')
						div(v-if='coinToEdit === coin.id')
							input(v-if="key === 'name'", v-model='tempCoin.name', list='coin-option-names')
							input(v-else-if="key === 'symbol'", v-model='tempCoin.symbol', list='coin-option-symbols')
							input(
								v-else-if="key === 'balance'",
								v-model.number='tempCoin.balance',
								type='number',
								min='0',
								step='any'
							)
						div(v-else)
							span(v-if="key === 'name'") {{ coin[key] | title-case }}
							span(v-else-if="key === 'symbol'") {{ coin[key] | uppercase }}
							span(v-else-if="key === 'balance'") {{ coin[key] }}
					td.icon-wrapper
						div.flex.row
							a.icon-wrapper.success(v-if='coinToEdit === coin.id', @click='saveCoin(coin)'): CheckIcon
							a.icon-wrapper(v-else, @click='editCoin(coin)'): Edit2Icon
							a.icon-wrapper.danger(@click='removeCoin(coin)'): XIcon
		div.datalist-wrapper
			datalist#coin-option-names: option(v-for='option in coinOptions', :key='option.id', :value='option.name') {{ option.name }}
			datalist#coin-option-symbols: option(v-for='option in coinOptions', :key='option.id', :value='option.symbol') {{ option.symbol }}
</template>

<script>
	import { byKey } from '@gabegabegabe/utils/dist/array/sorters';
	import { slugCase } from '~/utilities/string';
	import { CheckIcon, Edit2Icon, XIcon } from 'vue-feather-icons';

	export default {
		name: 'CryptoSettings',
		components: { CheckIcon, Edit2Icon, XIcon },
		data () {
			const coinKeyData = [
				{ key: 'name', inputType: 'text' },
				{ key: 'symbol', inputType: 'text' },
				{ key: 'balance', inputType: 'number' }
			];

			return {
				coinKeys: coinKeyData.map(d => d.key),
				coinKeyTypes: coinKeyData.reduce((keyTypes, data) => {
					keyTypes[data.key] = data.inputType;

					return keyTypes;
				}, {}),
				coinToEdit: false,
				newCoin: { id: null, name: null, symbol: null, balance: null },
				tempCoin: { id: null, name: null, symbol: null, balance: null }
			};
		},
		computed: {
			atLeastOneCoinAdded () { return this.coins.length > 0; },
			coins: {
				get () { return [...this.$store.state.cryptoTicker.coins].sort(byKey('name')); },
				put (coins) { this.$store.commit('cryptoTicker/saveCoins', coins); }
			},
			coinOptions () { return this.$store.state.cryptoTicker.coinOptions; },
			newCoinIsValid () { return this.newCoin.name && this.newCoin.symbol && typeof this.newCoin.balance === 'number'; },
			newCoinName () { return this.newCoin.name; },
			newCoinSymbol () { return this.newCoin.symbol; },
			tempCoinName () { return this.tempCoin.name; },
			tempCoinSymbol () { return this.tempCoin.symbol; }
		},
		watch: {
			newCoinName () { this.setCoin('name', this.newCoin); },
			newCoinSymbol () { this.setCoin('symbol', this.newCoin); },
			tempCoinName () { this.setCoin('name', this.tempCoin); },
			tempCoinSymbol () { this.setCoin('symbol', this.tempCoin); }
		},
		methods: {
			addNewCoin () {
				this.$store.commit('cryptoTicker/addNewCoin', this.newCoin);
				for (const key in this.newCoin) this.newCoin[key] = null;
			},
			editCoin (coin) {
				const index = this.coins.indexOf(coin);
				if (index === -1) return;

				this.tempCoin = { ...this.coins[index] };
				this.coinToEdit = coin.id;
			},
			removeCoin (coin) { this.$store.commit('cryptoTicker/removeCoin', coin); },
			saveCoin () {
				const index = this.coins.map(c => c.id).indexOf(this.coinToEdit);
				if (index !== -1) for (const key in this.tempCoin) this.coins[index][key] = this.tempCoin[key];
				this.coinToEdit = false;
				for (const key in this.tempCoin) this.tempCoin[key] = null;
			},
			setCoin (diffKey, coin) {
				if (!diffKey) return;

				const coinOptionIndex = this.coinOptions.map(o => o[diffKey]).indexOf(coin[diffKey]);
				if (coinOptionIndex === -1) {
					coin.id = slugCase([coin.name, coin.symbol].join('-'));
					coin.value = 0;

					return;
				}

				const { coinOptions: { [coinOptionIndex]: coinOption } } = this;

				coin.id = coinOption.id;
				coin.value = coinOption.value;

				if (diffKey === 'name') coin.symbol = coinOption.symbol;
				else if (diffKey === 'symbol') coin.name = coinOption.name;
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";

	h1 { margin-top: 0; }

	table {
		table-layout: fixed;

		tr {
			td {
				input {
					// font-size: .75em;
					width: 10rem;
					margin: 0;
					line-height: 1em;
				}
			}

			th,
			td {
				&:last-of-type { width: 3rem; }
			}

			th.filler,
			td.icon-wrapper { width: 7rem; }
		}

		tbody tr {
			td a.icon-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				margin-right: 1rem;

				&:hover { cursor: pointer; }

				&.danger { color: $base08; }
			}
		}
	}
</style>
