<template lang="pug">
	div(:class='`coin ${colorClass}`')
		div.name
			span.symbol {{ coin.symbol }}
			span.label {{ id | title-case }}
		div.total-value
			//- span(v-if='total >= 1000000') ${{ total | round('int') | local-string }}
			span ${{ total | round('fiat') | locale-string }}
		div.row.balance
			div.label: span Bal
			span.value {{ coin.balance | round('crypto') }}
		div.row.value
			div.label: span Val
			span.value ${{ coin.value | round('fiat') | locale-string }}
</template>

<script>
	import { ONE_SECOND } from '~/globals/time-units';
	import { round } from '~/utilities/number';

	export default {
		name: 'CryptoBlock',
		props: {
			id: {
				type: String,
				required: true
			}
		},
		data () {
			return { colorClass: '' };
		},
		computed: {
			coin () {
				const index = this.$store.state.cryptoTicker.coins.map(c => c.id).indexOf(this.id);
				if (index === -1) return { balance: 0, symbol: '-', value: 0 };

				return this.$store.state.cryptoTicker.coins[index];
			},
			total () { return this.coin.value * this.coin.balance; },
			roundedTotal () { return round(this.total, 'fiat'); }
		},
		watch: {
			roundedTotal (newVal, oldVal) {
				if (newVal > oldVal) this.setColorClass('green');
				else if (newVal < oldVal) this.setColorClass('red');
			}
		},
		methods: {
			setColorClass (color) {
				this.colorClass = color;
				setTimeout(() => { this.colorClass = ''; }, ONE_SECOND);
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";
	@import "~/scss/variables";

	div.coin {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		max-width: $unit-width-max;
		font-size: 1rem;
		margin-bottom: 1em;
		text-align: center;
		color: $base05;
		will-change: color;
		transition: color 1000ms linear;

		&.green,
		&.red { transition: color 250ms linear; }

		&.green { color: $base0B; }

		&.red { color: $base08; }

		> div {
			margin: 0;
			padding: 0.25em 1em;

			&.name {
				text-align: center;
				display: flex;
				flex-direction: column;
				padding-top: 0.75em;

				span.symbol {
					font-weight: 600;
					line-height: 1em;
				}

				span.label { font-size: 0.75em; }
			}

			&.total-value {
				font-size: 2em;
				line-height: 1.6em;
				font-weight: 600;
				text-align: center;
				max-width: 100%;
				overflow-x: auto;
			}

			&:nth-child(odd) { background: $base01; }

			&:nth-child(even) { background: $base02; }

			&.row {
				display: flex;

				> div,
				> span {
					flex: 1 1 50%;
					text-align: left;

					&.label {
						padding-right: 1em;
						text-align: right;
						font-size: 0.75em;
						text-transform: uppercase;

						span { vertical-align: middle; }
					}
				}

				> span.value { white-space: nowrap; }
			}
		}
	}
</style>
