<template lang="pug">
	section.crypto-ticker
		h1.section-heading
			span.label Portfolio
			a.icon-wrapper(@click='displaySettings'): SettingsIcon
		TotalBox(v-if="atLeastOneCoinAdded", :class="`total ${colorClass}`") ${{ roundedTotal | locale-string | strip-cents }}
		//- p(v-if='atLeastOneCoinAdded', v-resize-text, :class='`total ${colorClass}`') ${{ roundedTotal | locale-string | strip-cents }}
		div.coins(v-if='atLeastOneCoinAdded'): CryptoBlock(v-for='coin in coinsSortedByTotal', :key='coin.id', :id='coin.id')
		div(v-else): p.centered
			| It looks like you haven't added any coins to your portfolio yet.  Use
			| the
			span.manual-margins: SettingsIcon(size='.9x')
			| icon above to add some!
</template>

<script>
	import log from '~/modules/log';
	import { ONE_SECOND } from '~/globals/time-units';
	import { round } from '~/utilities/number';
	import { SettingsIcon } from 'vue-feather-icons';
	import TotalBox from '~/views/crypto-ticker/TotalBox';

	const CryptoBlock = async () => await import('~/views/crypto-ticker/CryptoBlock');
	const CryptoSettings = async () => await import('~/views/crypto-ticker/CryptoSettings');

	export default {
		name: 'CryptoTicker',
		components: { CryptoBlock, SettingsIcon, TotalBox },
		filters: {
			stripCents (str) { return str.replace(/[^0-9]00$/u, ''); }
		},
		data () {
			return { colorClass: '', socket: null };
		},
		computed: {
			atLeastOneCoinAdded () { return this.coins.length >= 1; },
			coins () { return this.$store.state.cryptoTicker.coins; },
			coinsSortedByTotal () {
				return Array.from(this.coins).sort((a, b) => {
					const aTotal = a.value * a.balance;
					const bTotal = b.value * b.balance;
					if (aTotal > bTotal) return -1;
					if (aTotal < bTotal) return 1;

					return 0;
				});
			},
			socketExists () {
				return this.socket !== null && typeof this.socket.close === 'function';
			},
			total () {
				if (this.$store.state.cryptoTicker.coins.length === 0) return 0;

				return this.$store.state.cryptoTicker.coins
					.map(c => c.value * c.balance)
					.reduce((total, value) => total + value);
			},
			roundedTotal () { return round(this.total, 'int'); }
		},
		watch: {
			coins () { this.setUpSocket(); },
			roundedTotal (newVal, oldVal) {
				if (newVal > oldVal) this.setColorClass('green');
				else if (newVal < oldVal) this.setColorClass('red');
			}
		},
		mounted () {
			this.getOptions();
			if (this.atLeastOneCoinAdded) {
				this.getRates();
				this.setUpSocket();
			}
		},
		methods: {
			displaySettings () { this.$emit('display-settings', CryptoSettings); },
			async getOptions () {
				try {
					const response = await fetch('https://api.coincap.io/v2/assets?limit=2000');
					const { data: options } = await response.json();
					if (!options) return;
					this.$store.commit('cryptoTicker/setOptions', options);
				} catch (err) {
					log.error(err);
				}
			},
			async getRates () {
				try {
					const response = await fetch('https://api.coincap.io/v2/rates');
					const { data: rates } = await response.json();
					if (!rates) return;
					this.$store.commit('cryptoTicker/setValuesWithRates', rates);
				} catch (err) {
					log.error(err);
				}
			},
			setColorClass (color) {
				this.colorClass = color;
				setTimeout(() => {
					this.colorClass = '';
				}, ONE_SECOND);
			},
			setUpSocket () {
				if (this.socketExists) this.socket.close();
				if (!this.atLeastOneCoinAdded) return;
				const ticker = this;
				this.socket = new WebSocket(`wss://ws.coincap.io/prices?assets=${this.coins.map(c => c.id).join(',')}`);
				this.socket.onmessage = msg => {
					const { data: updates } = msg;
					if (!updates) return;
					ticker.$store.commit('cryptoTicker/setValuesWithUpdates', updates);
				};
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";
	@import "~/scss/breakpoints";

	section.crypto-ticker {
		p.total {
			font-size: 4.5rem;
			line-height: 1.6em;
			padding-bottom: 1.5rem;
			font-weight: 600;
			text-align: center;
			margin: 0;
			max-width: 100%;
			overflow-x: auto;
			color: $base05;
			will-change: color;
			transition: color 1000ms linear;

			&.green,
			&.red { transition: color 250ms linear; }

			&.green { color: $base0B; }

			&.red { color: $base08; }
		}

		div.coins {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
</style>
