<template lang="html">
	<p v-resize-text>
		<slot></slot>
	</p>
</template>

<script>
	import ResizeText from 'vue-resize-text';

	export default {
		name: 'TotalBox',
		directives: { ResizeText }
	};
</script>
