doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="application-name", content="hmpg.me")
		meta(name="author", content="gabe")
		meta(name="creator", content="gabe")
		meta(name="color-scheme", content="normal")
		meta(name="description", content="A simple yet useful homepage app")
		meta(name="generator", content="vue.js")
		meta(name="keywords", content="homepage,rss,cryptocurrency,task manager,weather")
		meta(name="robots", content="index, follow")
		meta(name="theme-color", content="#2b303b")
		title HOMEPAGE
		link(rel="stylesheet", href="~/scss/main.scss")
	body
		div#app
		script(src="~/index.js")
