$border-width: 0.125rem;

button {
	background: $base01;
	color: $base07;
	font-weight: 600;

	&.small {
		font-size: 0.65rem;
		padding: 0 0.5rem;
	}

	&.danger {
		background-color: $base08;
		color: $base00;
	}

	&[disabled] {
		background: $base05;
		color: $base03;
	}

	&:active:not([disabled]) { background: $base02; }
}

form {
	margin: 1rem 0;

	fieldset {
		border-color: $base00;
		margin: 0;

		legend { font-weight: 600; }

		label {
			margin-right: 0.25rem;
			padding: 0.5rem;

			&:last-of-type { margin-right: 0; }

			span { font-weight: 600; }

			&.button span { visibility: hidden; }

			button {
				border: $border-width solid $base00;
				padding: 0.5rem 1rem;
			}
		}
	}
}

input {
	background: transparent;
	border: none;
	border-bottom: $border-width solid $base00;
	margin: 0.25rem;
	font-size: 1em;
	line-height: 1.6em;
	font-weight: 400;
	width: 100%;
}

select {
	background: transparent;
	border: $border-width solid $base00;
	margin: 0.25rem;
	font-size: 1em;
	line-height: 1.6em;
	padding: 0.5rem;
	appearance: none;
}

select:not([multiple]):not([size]) {
	background-image: none;
}
