@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "sanitize.css/typography.css";
@import "~/scss/base16";
@import "~/scss/breakpoints";
@import "~/scss/variables";
@import "~/scss/forms";
@import "~/scss/tables";

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", sans-serif;
	font-size: 14pt;
	text-rendering: optimizeLegibility;
	line-height: 1.6em;
}

body {
	background: $base00;
	color: $base05;
	margin: 1rem;
}

a,
span {
	&.manual-margins {
		display: inline-block;
		margin: 0 0.25rem;
	}
}

button:hover { cursor: pointer; }

section > .section-heading {
	font-size: 1.2rem;
	padding-bottom: 0.75rem;
	border-bottom: $border solid $base05;
}

section > h1.section-heading {
	display: flex;

	span.label { flex-grow: 1; }

	a.icon-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $base02;

		&:hover {
			color: $base05;
			cursor: pointer;
		}
	}
}

.flex {
	display: flex;

	&.two-columns {
		justify-content: space-between;

		& > * { flex: 1 0 calc(50% - (1rem / 2)); }
	}

	&.center {
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	&.column { flex-direction: column; }

	&.wrap { flex-wrap: wrap; }

	&.grow > * { flex-grow: 1; }
}

.grid {
	display: grid;
	grid-gap: 1rem;

	&.two-columns {
		@media (min-width: $desktop) {
			grid-template-columns: repeat(auto-fit, minmax(calc(#{$unit-width} * 2), 1fr));
		}
	}
}

.centered { text-align: center; }

.hidden { display: none; }
