@import "~/scss/base16";

table {
	border-collapse: collapse;
	width: 100%;
	border: 0.125rem solid $base00;

	caption {
		text-align: left;
		font-weight: 600;
		background: $base03;
		color: $base07;
		padding: 0.75rem 1rem;
		border: 0.125rem solid $base00;
		border-bottom: none;
	}

	thead,
	tbody {
		tr {
			display: table;
			width: 100%;
			table-layout: fixed;

			th,
			td {
				text-align: left;
				padding: 0.5rem 1rem;
			}
		}
	}

	thead {
		background: $base04;
		font-size: 0.8rem;
	}

	tbody {
		display: block;
		overflow: auto;
		max-height: 50vh;

		tr:nth-child(odd) { background: $base06; }

		tr:nth-child(even) { background: $base05; }
	}
}
